:root {
  --bs-primary: #2f745f;
  --bs-primary-rgb: 47, 116, 95;
  --bs-primary-bg-subtle: #9dbbb2;
  --bs-primary-border-subtle: #9dbbb2;
  --bs-primary-text-emphasis: #114334;
  --bs-link-color: #2f745f;
  --bs-link-color-rgb: 47, 116, 95;
  --bs-link-hover-color: #114334;

  --bs-success: #114334;
  --bs-success-rgb: 17, 67, 52;
  --bs-success-bg-subtle: #9dbbb2;
  --bs-success-border-subtle: #9dbbb2;
  --bs-success-text-emphasis: #114334;
}

.btn-primary {
  --bs-btn-bg: #2f745f;
  --bs-btn-border-color: #2f745f;
  --bs-btn-hover-bg: #114334;
  --bs-btn-hover-border-color: #114334;
  --bs-btn-focus-shadow-rgb: 47, 116, 95;
  --bs-btn-active-bg: #114334;
  --bs-btn-active-border-color: #114334;
  --bs-btn-disabled-bg: #2f745f;
  --bs-btn-disabled-border-color: #2f745f;
}

.btn-outline-primary {
  --bs-btn-color: #2f745f;
  --bs-btn-border-color: #2f745f;
  --bs-btn-hover-bg: #2f745f;
  --bs-btn-hover-border-color: #2f745f;
  --bs-btn-focus-shadow-rgb: 47, 116, 95;
  --bs-btn-active-bg: #114334;
  --bs-btn-active-border-color: #114334;
  --bs-btn-disabled-color: #2f745f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2f745f;
}

.btn-success {
  --bs-btn-bg: #114334;
  --bs-btn-border-color: #114334;
  --bs-btn-hover-bg: #0e392c;
  --bs-btn-hover-border-color: #0e392c;
  --bs-btn-focus-shadow-rgb: 17, 67, 52;
  --bs-btn-active-bg: #0e392c;
  --bs-btn-active-border-color: #0e392c;
  --bs-btn-disabled-bg: #114334;
  --bs-btn-disabled-border-color: #114334;
}

.nav-pills .nav-link.active {
  --bs-nav-pills-link-active-bg: #2f745f;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #2f745f;
}

.form-control:focus,
.form-select:focus {
  border-color: #9dbbb2;
  box-shadow: 0 0 0 0.25rem rgba(47, 116, 95, 0.25);
}
