html, body{
    max-width: 100%;
    overflow-x: hidden;
}
*{
    text-align: center;
}
.custom-table {
    //table-layout: fixed;
    max-width: 100%;
}
tr{
    padding-right: .2em;
}
.wrap-cell{
    word-break: break-all;
    white-space: normal;
}
.main{
    margin-bottom: 5rem;
    padding: 1rem;
    overflow-y: auto;
}
.custom-navbar{
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around; /* Distribute items evenly */
    z-index: 1000;
}
.custom-navitem{
    text-align: center; /* Center the content of each item */
    flex: 1;
}
